<div class="container" style="padding-top: 20px;">
  <h4>Shipping Address</h4>
  <hr>
  <div class="col-md-5">
    <h4 style="margin-left: -15px;">Create a new Shipping Address</h4>
    <%= form_for @address_new, url: create_bill_address_path(@user.id), :html => {:class => "form-horizontal", :role => "form", :style => "width:50%;"} do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, :class => "form-control"  %>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>  

  <% if @address_old.present? %>
    <div class="col-md-7">
      <h4>Old Shipping Addresses</h4>
      <% @address_old.each_with_index do |address, index| %>
        <div class="address">
          <h6><strong>Address <%= index+1 %> </strong></h6>
          <h6><%= address.name %></h6>
          <h6><%= address.address %></h6>
          <h6><%= address.country %></h6>
          <h6><%= address.phone %></h6>
          <h6><%= address.zip %></h6>
          <%= link_to 'Select', purchase_show_path(:bill_address_id => address.id), :class => 'btn btn-primary' %>
          <%= link_to 'x', remove_bill_address_path(:id => @user.id, :address_id => address.id), method: :delete, data: { confirm: 'Are you sure?'}, :class => 'remove'  %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>