<div class="container" style=" padding-top: 20px;">
  <h4>Quantity: <%= session[:quantity] %></h4>
  <h4>Product: <%= session[:product] %></h4>
  <h3>Confirm Order</h3>
  <hr>
  <div class="col-md-12" style="padding-left: 0;">
    <h4>Products</h4>
    <table class="table">
    <tr>
      <td></td>
      <td style="width: 90px;"></td>
      <td>Product Name</td>
      <td>Manufacturer</td>
      <td>Price</td>
    </tr>
    <% Array(@products).each_with_index do |product, index| %>
        <tr>
          <td> <div class="number"><%= index+1 %></div> </td>
          <td> <%= image_tag product.product_images[0].image.url(:thumb) , :style => 'width: 30px;' %> </td>
          <td> <h5><%= product.name %></h5> </td>
          <td> <h5> <%= product.user.first_name %> </h5> </td>
          <td> <h5>Rs. <%= product.price %> </h5> </td>
      </tr>
    <% end %>
  </table>
  <div class="col-md-12">
    <h4>Billing Address</h4>
    <div class="confirm_address">
      <h4><%= @address.name %></h4>
      <h6><%= @address.address %></h6>
      <h6><%= @address.country %></h6>
      <h6><%= @address.zip %></h6>
    </div>
    <%= link_to "Confirm Order", purchase_action_path, method: :post, :class => "btn btn-primary" %>
  </div>
 </div>