<div class="container">
  <div class="alert">
    <h4>Thank You for Your Order!</h4>
    <div class="alert alert-success"> 
      You will recieve an email confirmation shortly at <b><%= current_user.email %></b>.
    </div>
    <hr>
    <h5>Order Summary:</h5>
    <table class="table">
       <tr>
        <td style="width: 30px;"></td>
        <td style="width: 90px;"></td>
        <td>Product Name</td>
        <td>Price</td>
      </tr>
      <% Array(@products).each_with_index do |product, index| %>
          <tr>
            <td> <div class="number"><%= index+1 %></div> </td>
            <td> <%= image_tag product.product_images[0].image.url(:thumb) , :style => 'width: 40px;' %> </td>
            <td> <h5><%= product.name %></h5> </td>
            <td> <h5>Rs. <%= product.price %> </h5> </td>
        </tr>
      <% end %>
    </table>
    <div style="clear:both;"></div>
    <%= link_to 'Continue Shopping', home_index_path, :class => 'btn btn-primary' %>
  </div>
</div>