<div class="container">
		<hr>
		<h4>List of Companies</h4>
		<%= link_to "Add Company", new_company_path , :class => "btn btn-success" %></br></br>
		<table class="table" style="width:70%;">
			<tr>
				<td>No.</td>
				<td>Name</td>
				<td>Actions</td>
			</tr>
			<% @companies.each_with_index do |company, index| %>
				<tr>
					<td><%= index+1 %></td>
					<td><%= company.first_name %></td>
					<td>
						<%= link_to "Edit", edit_company_path(company), :class => "btn btn-primary" %>
						<%= link_to "View", company_path(company), :class => "btn btn-primary" %>
						<%= link_to "Delete", company_path(company), 
							method: :delete, 
							:class => 'btn btn-danger',
							data: { confirm: 'Are you sure?   Products associated with this company will also be deleted !'}
						%>
					</td>
				</tr>
			<% end %>
		</table>
		<hr>
		<h4>List of Categories</h4>
		<%= link_to "Add Category", new_category_path , :class => "btn btn-success" %></br></br>
		<table class="table" style="width:70%;">
			<tr>
				<td>No.</td>
				<td>Name</td>
			</tr>
			<% @categories.each_with_index do |category, index| %>
				<tr>
					<td><%= index+1 %></td>
					<td><%= category.name %></td>
					<td>
						<%= link_to "Edit", edit_category_path(category), :class => "btn btn-primary" %>
						<%= link_to "View", category_path(category), :class => "btn btn-primary" %>
						<%= link_to "Delete", category_path(category), 
							method: :delete, 
							:class => 'btn btn-danger',
							data: { confirm: 'Are you sure?   Products associated with this category will also be deleted !'}
						%>
					</td>
				</tr>
			<% end %>
		</table>
</div>