<div class="container">
		<h4 style="margin-left: 15px; margin-bottom: 20px;">Admin panel</h4>
		<div class="col-md-6">
			<h4>List of Companies</h4>
			<%= link_to "Add Company", new_company_path , :class => "btn btn-primary" %></br></br>
			<table class="table" style="width:70%;">
				<tr>
					<td>No.</td>
					<td>Name</td>
					<td>Actions</td>
				</tr>
				<% @companies.each_with_index do |company, index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= company.first_name %></td>
						<td>
							<%= link_to "Edit", edit_company_path(company), :class => "btn" %>
							<%= link_to "View", company_path(company), :class => "btn" %>
							<%= link_to "Delete", company_path(company), 
								method: :delete, 
								:class => 'btn',
								data: { confirm: 'Are you sure?   Products associated with this company will also be deleted !'}
							%>
						</td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-6">
			<h4>List of Categories</h4>
			<%= link_to "Add Category", new_category_path , :class => "btn btn-primary" %></br></br>
			<table class="table" style="width:70%;">
				<tr>
					<td>No.</td>
					<td>Name</td>
					<td>Actions</td>
				</tr>
				<% @categories.each_with_index do |category, index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= category.name %></td>
						<td>
							<%= link_to "Edit", edit_category_path(category), :class => "btn" %>
							<%= link_to "View", category_path(category), :class => "btn" %>
							<%= link_to "Delete", category_path(category), 
								method: :delete, 
								:class => 'btn',
								data: { confirm: 'Are you sure?   Products associated with this category will also be deleted !'}
							%>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
</div>