<div class="container">
  <h3>Orders</h3>
  <hr>
  <% if @orders.present? %>
  <table class="table">
    <tr style="background-color: #E2E4E5;">
      <td>OrderID</td>
      <td>Customer</td>
      <td>Email</td>
      <td>Telephone</td>
      <td>Total</td>
      <td>IP address</td>
      <td>Data added</td>
      <td>Action</td>
    </tr>
    <% @orders.each_with_index do |order, index| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.first_name %></td>
      <td><%= order.email %></td>
      <td><%= order.phone %></td>
      <td>Rs. <%= @totals[index] %></td>
      <td><%= IPAddr.new(order.ip, Socket::AF_INET).to_s %></td>
      <td><%= order.created_at %></td>
      <td><%= link_to 'View', order_view_path(order.id) %></td>
    </tr>
    <% end %>
  </table>
  <%= paginate @orders %>
  <% else %>
  <div class="alert alert-warning">No orders yet !</div>
  <% end %>
  <%= link_to 'Back', admin_index_path, :class => 'btn btn-primary'%>
</div>