<div class="container">
  <div class="products-container">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-box col-md-2 col-sm-3 col-xs-6">
          <div class="img-container">
            <%= image_tag product.avatar.url(:thumb)%>
          </div>
          <h5> <%= product.name %> </h5>
          <h6> <%= product.user.first_name %> </h6>
          <h5>Rs. <%= product.price %> </h5>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

