<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag 'slide1.jpg' %>
    </li>
    <li>
      <%= image_tag 'slide2.jpg' %>
    </li>
  </ul>
</div>
<div class="container">
  <div class="products-container">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="product-box col-md-3 col-sm-4 col-xs-6">
          <div class="product-box-container">
            <div class="img-container">
              <%= image_tag product.avatar.url(:thumb)%>
            </div>
            <h5> <%= product.name %> </h5>
            <h6> <%= truncate(product.description, :length => 80, :omission => '...') %> </h6>
            <h4>Rs. <%= product.price %> </h4>
          </div>
          <% if product.quantity == 0 %>
            <h5 style="text-align: center; color: #F74C4C; border-top: 1px solid #D5D5D5; padding: 11px; display: block; margin-top: 0px;">Out of Stock</h5>
          <% else %>
            <a href="#" class="add-to-cart" productid="<%= product.id %>"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

<script type="text/javascript">


  $('.add-to-cart').click(function(){

    $.ajax({

      url: '/add_to_cart',
      method: 'POST',
      data: {
        product: $(this).attr('productid')
      },
      success: function(data){
        var mini_products = '';
        var next_index = $('.product').length;
        mini_products =  '<a href="/product/'+ data.id + '" class="product" style= "display: block;">' +
                            '<div class="mini-cart-remove" data-index='+next_index+'>x</div>' +
                            '<img src="' + data.avatar_url + '"/>' +
                            '<div class="mini-product-details">' +
                              '<div class="mini-product-details">' +
                                '<h5>' + data.name + '</h5>' +
                                '<h6>Rs.' + data.price + '</h6>' +
                              '</div>' +
                            '</div>' +
                          '</a>';
        cart_button = '<div style="text-align: center; margin: 15px 0px 5px 0px;">' +
                        '<a href="/cart" class="btn btn-primary">View Cart</a>' +
                      '</div>';
        $('.empty-cart').remove();
        $('.mini-cart-products').append(mini_products);
        if($('.product').length == 1){
          $('.mini-cart').append(cart_button);
        }
        // get old count and plus by one
        count = $('.cart-count').text();
        formatted_count = parseInt(count)+1;
        $('.cart-count').html(formatted_count);
      },
      error: function(){
        alert('Error');
      }
    });
  });


$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});


</script>