<div class="mini-cart-products">
  <% items = session[:cart] %>
  <% items.each_with_index do |item, index| %>
    <% product = Product.find(item["product"]) %>
    <%= link_to product_path(product), :class => "product", :style => 'display: block;' do %>
      <div class="mini-cart-remove" data-index="<%= index %>">x</div>
      <%= image_tag product.product_images[0].image.url(:thumb)%>
      <div class="mini-product-details">
        <h5> <%= product.name %> </h5>
        <h6>Quantity: <%= item['quantity'] %></h6>
        <h6>Rs. <%= product.price %> </h6>
      </div>
    <% end %>
  <% end %>
</div>
<div class="view_cart" style="text-align: center; margin: 15px 0px 5px 0px;">
  <% item = Product.new(:id => 0) %>
  <%= link_to 'View Cart', view_cart_path, :class => 'btn btn-primary' %>
</div>
