<div class="container" style="width:50%;">
  <h3>Edit Product</h3>
  <%= form_for @product, url: product_path do |f| %>
  <div class="form-group">
    <% if @product.errors.present? %>
    <div class="alert alert-danger">
      <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :name %></br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :price %></br>
    <%= f.text_field :price, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %></br>
    <%= f.text_field :quantity, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %></br>
    <%= f.text_area :description, :class => "form-control", :style => 'height: 100px;' %>
  </div>

  <ul id="product_images_form">
    <%= f.fields_for :product_images do |product_image_fields| %>
      <%= render 'product_image_edit_fields', :f => product_image_fields %>
    <% end %>
  </ul>
  <br>
  <%= link_to_add_association '+ Add image', f, :product_images,
      'data-association-insertion-node' => "#product_images_form",
      'data-association-insertion-method' => "append", :class => 'add_image' %>
  <%= f.hidden_field :user_id, :value => @company %>
  <hr>
  <div class="form-group" style="margin-top: 25px;">
    <%= f.submit "Save", :class => 'btn btn-primary' %>
    <%= link_to "Cancel", company_index_path, :class => 'btn btn-danger' %>
  </div>
  <% end %>
</div>