<div class="container">
	<h3>Edit Product</h3>
	<%= form_for @product, url: product_path do |f| %>
    <%= @product.errors.full_messages %>
    <p>
      <%= f.label :name %></br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :price %></br>
      <%= f.text_field :price %>
    </p>
    <p>
      <%= f.label :quantity %></br>
      <%= f.text_field :quantity %>
    </p>
    <p>
      <%= f.label :description %></br>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.file_field :avatar %>
    </p>

    <%= f.hidden_field :user_id, :value => @company %>
    <p>
      <%= f.submit "Save", :class => 'btn btn-primary' %>
      <%= link_to "Cancel", company_index_path, :class => 'btn btn-danger' %>
    </p>
   <% end %>
</div>