<div class="container product-container">
  <div class="col-md-5 product-image">
    <div id="blowup">
      <%= image_tag @product.product_images[0].image.url, :id => 'blowup-image' %>
    </div>
    <div id="light-box">
      <% @product.product_images.each do |product_image| %>
        <div class="tiny-image">
          <span class="helper"></span>
          <%= image_tag product_image.image.url%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-7 product-details">
  	<h4 class="name"><b><%= @product.name %></b></h4><%= @product.quantity %>
    <h5 class="brand">Brand: <%= @product.user.first_name %> </h5>
    <h3 class="price"><span>Rs</span> <%= @product.price %> </h3>
    
    <% if @product.quantity == 0 %>
      <h4>Availability: <span style="font-weight: bold;">Out of Stock</span></h4>
    <% else %>
      <h4>Availability: <span style="color: #3F9900; font-weight: bold;">In Stock</span></h4>
      <%= link_to "#{image_tag('compare.png')}  Add to Compare".html_safe, product_compare_path(@product), :class => 'compare btn' %></br>
      <%= link_to "#{image_tag('heart.png')}  Add to Wishlist".html_safe, add_to_wishlist_path(@product), :class => 'compare btn' %></br></br>

      <%= form_tag checkout_index_path(@product), :id => 'buy_now', :style => 'position: relative;' do %>
        <span>Quantity:</span>
        <%= number_field_tag 'quantity', 1, min: 1, :class => 'number-input' %>
        <span id="flash1" class="flash-message alert alert-danger">Enter a valid amount!</span>
        <!-- Trigger the modal with a button -->
        <button type="button" id="exhaust-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" style="text-align: center;">
                <h2>Oops !</h2><br>
                <p>The item is not available at this amount. Please adjust the quantity.</p>
                <%= image_tag 'exhausted.png' %>
              </div>
              
            </div>

          </div>
        </div>


        <br></br>
        <%= submit_tag 'Buy Now', :class => "btn btn-primary buy-now", :productid => @product.id %>
        <a href="#"  class="btn btn-warning add-to-cart" productid="<%= @product.id %>">Add to Cart</a>
      <% end %>

      
  <% end %>
    
  </div>
  <div class="col-md-12" style="padding-top: 30px;">
    <h3>Description: </h3>
    <h5 style=" line-height: 1.7; padding: 25px 0px;"> <%= @product.description %> </h5>
  </div>

    <% if user_signed_in? %>
      <div class="col-md-6">
        <!-- <h4>Reviews</h4> -->
        <h3>Write a review</h3>
          <%= form_for @review, url: review_index_path do |f| %>
            <div class="form-group">
              <%= f.label :body, :value => 'Your review' %>
              <%= f.text_area :body, :class => "form-control", :style => 'resize: none; height: 100px;' %>
            </div>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="form-group">
              <%= f.submit :class => "form-control btn btn-primary", :value => 'Submit', :style => 'width: 30%;' %>
            </div>
          <% end %>
      </div>
    <% end %>

    <div class="col-md-6">
      <h3 style="padding-bottom: 20px;">
        Reviews
        <% if @old_reviews.present? %> 
          <span style="font-size: 18px; color: #7E7E7E;">
            (<%= @old_reviews.size %>)
          </span>
        <% end %>
      </h3>
      <% if @old_reviews.present? %>
        <% @old_reviews.each do |review| %>
          <div class="review">
            <h5 style="font-weight: bold;"> <%= review.user.first_name %></h5>
            <p style="color: #515151;"> <%= review.body %> </p>

            <% if user_signed_in?  %>
              <% if review.user_id == current_user.id %>
                <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?'}, :class => 'remove' %>
              <% end %>
            <% end %>

          </div>
        <% end %>
      <% else %>
        <div class="alert alert-warning">
          No reviews for this product !
        </div>
      <% end %>
    </div>
</div>



<script type="text/javascript">

  // Buy now
  $('#buy_now').submit(function(event){
    event.preventDefault(); // prevent form submission
    var status;
    $.fn.checkInventory(function(output){
      status = output;
      console.log('buy: ' + status);
      if (status == false) { // check for stock
        console.log('Inventory exhausted');
        $('#exhaust-button').click();
      }
      else {
        $('#buy_now').unbind('submit').submit(); // resume form submission
      }
    });
  
  });

  // Add to cart
  $('.add-to-cart').click(function(){
    if(parseInt($('#quantity').val()) > 0 ) {  // check value is greater than 0
      
      $.fn.checkInventory(function(output){
        var status = output;
        console.log('cart: ' + status);
        if (status == false) { // check for stock
          console.log('Inventory exhausted');
          $('#exhaust-button').click();
        }
        else { //ajax call

          $.ajax({

            url: '/add_to_cart',
            method: 'POST',
            data: {
              product: $('.add-to-cart').attr('productid'),
              quantity: $('#quantity').val()
            },
            success: function(data){
              $('.mini-cart').html(data);
              // get new count
              count = $('.mini-cart-products .product').size();
              $('.cart-count').html(count);
            },
            error: function(){
              alert('Error');
            }
          });

        }
      });


    }
    else {
      $('#flash1').fadeIn().delay(1500).fadeOut("slow"); // flash message if invalid quantity
    }
  });

   $.fn.checkInventory = function(handleData){
    $.ajax({
      url: '/check_inventory',
      method: 'POST',
      data: {
        product: $('.buy-now').attr('productid'),
        quantity: $('#quantity').val()
      },
      success: function(data){
        console.log('ajax.success: ' + data);
        handleData(data);
      },
      error: function(){
        alert('Error');
      }
    });
   }

  $(function(){
    // Change blowup image on clicking small images
    $('.tiny-image').click(function(){
      var path = $(this).children('img').attr('src');
      $('#blowup img').attr('src', path);
    });

    // Zoom blowup on hover
    var blowup_image_path = $('#blowup img').attr('src');
    $('#blowup').zoom({url: blowup_image_path, magnify: 1.5});
  });

</script>