<div class="container">
	<h4>View Product</h4>
	<h5>Name: <%= @product.name %></h5>
	<h5>Name: <%= @product.price %></h5>
	<h5>Name: <%= @product.quantity %></h5>
	<h5>Name: <%= @product.description %></h5>
	<%= link_to 'Back', company_index_path %>
</div>