<div class="container product-container">
  <div class="col-md-5 product-image">
    <%= image_tag @product.avatar.url, :style => "width:50%;" %>
  </div>
  <div class="col-md-7 product-details">
  	<h2> <%= @product.name %> </h2>
    <h5> <%= @product.user.first_name %> </h5>
  	<h3> Rs. <%= @product.price %> </h3>
  	<!-- <h5> <strong>Quantity:</strong> <%= @product.quantity %></h5> -->
  	<h5> <%= @product.description %> </h5>

    <%= link_to "Buy Now", checkout_path, :class => "btn btn-primary" %>
  </div>
</div>