<div class="container product-container">
  <div class="col-md-5 product-image">
    <div id="blowup">
      <%= image_tag @product.product_images[0].image.url, :id => 'blowup-image' %>
    </div>
    <div id="light-box">
      <% @product.product_images.each do |product_image| %>
        <div class="tiny-image">
          <span class="helper"></span>
          <%= image_tag product_image.image.url%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-7 product-details">
  	<h3> <%= @product.name %> </h3>
    <h5>Brand: <%= @product.user.first_name %> </h5>
    <h3 style="padding-top: 10px; padding-bottom: 20px;"> Rs. <%= @product.price %> </h3>
    <% if @product.quantity == 0 %>
      <h4>Availability: <span style="font-weight: bold;">Out of Stock</span></h4>
    <% else %>
      <h4>Availability: <span style="color: #3F9900; font-weight: bold;">In Stock</span></h4>
      <%= link_to "#{image_tag('compare.png')}  Add to Compare".html_safe, product_compare_path(@product), :class => 'compare btn' %></br>
      <%= link_to "#{image_tag('heart.png')}  Add to Wishlist".html_safe, add_to_wishlist_path(@product), :class => 'compare btn' %></br></br>
      <%= link_to "Buy Now", checkout_index_path(@product), :class => "btn btn-primary"%>
      <a href="#"  class="btn btn-warning add-to-cart" productid="<%= @product.id %>">Add to Cart</a>
      
  <% end %>
    
  </div>
  <div class="col-md-12" style="padding-top: 30px;">
    <h3>Description: </h3>
    <h5 style=" line-height: 1.7; padding: 25px 0px;"> <%= @product.description %> </h5>
  </div>

    <% if user_signed_in? %>
      <div class="col-md-6">
        <!-- <h4>Reviews</h4> -->
        <h3>Write a review</h3>
          <%= form_for @review, url: review_index_path do |f| %>
            <div class="form-group">
              <%= f.label :body, :value => 'Your review' %>
              <%= f.text_area :body, :class => "form-control", :style => 'resize: none; height: 100px;' %>
            </div>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="form-group">
              <%= f.submit :class => "form-control btn btn-primary", :value => 'Submit', :style => 'width: 30%;' %>
            </div>
          <% end %>
      </div>
    <% end %>

    <div class="col-md-6">
      <h3 style="padding-bottom: 20px;">
        Reviews
        <% if @old_reviews.present? %> 
          <span style="font-size: 18px; color: #7E7E7E;">
            (<%= @old_reviews.size %>)
          </span>
        <% end %>
      </h3>
      <% if @old_reviews.present? %>
        <% @old_reviews.each do |review| %>
          <div class="review">
            <h5 style="font-weight: bold;"> <%= review.user.first_name %></h5>
            <p style="color: #515151;"> <%= review.body %> </p>

            <% if user_signed_in?  %>
              <% if review.user_id == current_user.id %>
                <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?'}, :class => 'remove' %>
              <% end %>
            <% end %>

          </div>
        <% end %>
      <% else %>
        <div class="alert alert-warning">
          No reviews for this product !
        </div>
      <% end %>
    </div>
</div>



<script type="text/javascript">


  $('.add-to-cart').click(function(){

    $.ajax({

      url: '/add_to_cart',
      method: 'POST',
      data: {
        product: $(this).attr('productid')
      },
      success: function(data){
        var mini_products = '';
        var next_index = $('.product').length;
        mini_products =  '<a href="/product/'+ data.id + '" class="product" style= "display: block;">'+
                            '<div class="mini-cart-remove" data-index='+next_index+'>x</div>' +
                            '<img src="' + data.image_url + '"/>' +
                            '<div class="mini-product-details">' +
                              '<div class="mini-product-details">' +
                                '<h5>' + data.name + '</h5>' +
                                '<h6>Rs.' + data.price + '</h6>' +
                              '</div>' +
                            '</div>' +
                          '</a>';
        cart_button = '<div style="text-align: center; margin: 15px 0px 5px 0px;">' +
                        '<a href="/cart" class="btn btn-primary">View Cart</a>' +
                      '</div>';

        $('.empty-cart').remove();
        $('.mini-cart-products').append(mini_products);

        if($('.product').length == 1){
          $('.mini-cart').append(cart_button);
        }
        // get old count and plus by one
        count = $('.cart-count').text();
        formatted_count = parseInt(count)+1;
        $('.cart-count').html(formatted_count);
      },
      error: function(){
        alert('Error');
      }
    });
  });

  $(function(){
    // Change blowup image on clicking small images
    $('.tiny-image').click(function(){
      var path = $(this).children('img').attr('src');
      $('#blowup img').attr('src', path);
    });

    // Zoom blowup on hover
    var blowup_image_path = $('#blowup img').attr('src');
    $('#blowup').zoom({url: blowup_image_path, magnify: 1.5});
  });

</script>