<div class="container">
  <h3>Shopping Cart</h3>
  <% if session[:cart].present? %>
  <div class="cart-products col-md-8">
    <table class="table">
      <tr>
        <td style="border-top: 0px; min-width: 300px;">Item</td>
        <td style="border-top: 0px;">Quantity</td>
        <td style="border-top: 0px; width: 275px; text-align: right;">Price</td>
      </tr>
      <% @items.each_with_index do |item, index| %>
      <% product = Product.find(item['product']) %>
      <tr class="product-row">
        <td>
          <div class="image">
            <%= image_tag product.product_images[0].image.url(:thumb)%>
          </div>
          <div class="details">
            <h5> <%= link_to product.name, product_path(product) %> </h5>
            <h6> <%= product.user.first_name %> </h6>
            <%= link_to 'Delete', remove_from_cart_path(:arr_pos => index), method: :post %>
          </div>
        </td>
        <td>
          <%= item['quantity'] %>
        </td>
        <td style="text-align: right;">
          <h5 class="price">Rs. <%= product.price %> </h5>
        </td>
      </tr>
      <% end %>
      <tr style="border-bottom: 1px solid #ddd;">
        <td></td>
        <td></td>
        <td style="text-align: right;">
          <h4 style="font-weight: bold;">Subtotal (<%= @count %> items): <span style="color: #b12704;">Rs. <%= @sum %></span></h4>
        </td>
      </tr>
      <tr style="border-bottom: 1px solid #ddd;">
        <td></td>
        <td></td>
        <td style="text-align: right;">
          <% item = Product.new(:id => 0) %>
          <%= link_to 'Proceed to Checkout', checkout_index_path(item), :method=> :post, :class => 'btn btn-primary' %>
        </td>
      </tr>
    </table>
  </div>
  <% else %>
  <div class="empty-cart" style="color: #A1A1A1; text-align: center; padding: 50px 0px; font-size: 20px;">
    Cart is empty !
  </div>
  <% end %>
</div>