<div class="container" >

  <h3>  <%= link_to(image_tag "moto.png") %> <%= @company.first_name %> </h3>
  <hr>
  <%= link_to "Add Product", new_product_path, :class => "btn btn-success" %>

  <% if @products.present? %>
    <h3>List of Products</h3>
    <table class="table" style="width:70%;">
      <tr>
        <td>No.</td>
        <td>Product Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Quanitiy</td>
        <td>Description</td>
        <td>Action</td>
      </tr>
      <% @products.each_with_index do |product, index| %>
        <tr>
          <td> <%= index+1 %> </td>
          <td> <%= product.name %> </td>
          <td> <%= product.category.name %> </td>
          <td> <%= product.price %> </td>
          <td> <%= product.quantity %> </td>
          <td> <%= product.description %> </td>
          <td>
            <%= link_to 'View', product_path(product.id) %> | 
            <%= link_to 'Edit', edit_product_path(product.id) %> |
            <%= link_to 'Delete', product_path(product.id), method: :delete, data: { confirm: 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
     <h5 class="alert alert-warning">No products !</h5>
  <% end %>

</div>