<div class="container">
  <h3>Create a company</h3>
  <%= form_for @company, url: company_index_path do |f| %>
    <%= @company.errors.full_messages %>
    <p>
      <%= f.label :email %></br>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %></br>
      <%= f.text_field :password %>
    </p>
    <p>
      <%= f.label :first_name %></br>
      <%= f.text_field :first_name %>
    </p>
    <%= f.hidden_field :role, :value => 2 %>
    <p>
      <%= f.submit "Save" %>
    </p>
  <% end %>
  
  <%= link_to "Cancel", admin_index_path %>

</div>