<div class="container">
  <h3>Add Category</h3>
  <%= form_for @category, url: categories_path do |f| %>
  <%= @category.errors.full_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Save", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_index_path, :class => "btn btn-danger" %>
  </p>
  <% end %>
</div>