<div class="container" style=" padding-top: 20px;">
  <h2> <%= @user.first_name + ' ' + @user.second_name %> </h2>
  <h4> <%= @user.email %> </h4>
  <h3>Address</h3>
  <h5> <%= @user.address %> </h5>
  <h5> <%= @user.city %> </h5>
  <h5> <%= @user.state %> </h5>
  <h5> <%= @user.zip %> </h5>
</div>